.postTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.postTable th,
.postTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.postTable th {
  background-color: #f2f2f2;
}
